# IDE Files
*.sln
*.suo
*.phpproj
*.phpproj.user
.project
*.kdev4
.kdev4/

# Database files
sql/*.sqlite

# Local configuration
conf/nginx.conf
conf/apache.conf

# Local logs
logs/*

# Ignore dependencies
vendor/
