# provide natural, clean URLs
RewriteEngine On
RewriteRule ^new$ problem.php [L]
RewriteRule ^([0-9]+)/$ task.php?id=$1 [L]
RewriteRule ^([0-9]+)/edit$ problem.php?id=$1 [L]
RewriteRule ^([0-9]+)/evaluate$ eval.php?id=$1 [L]
RewriteRule ^([0-9]+)/addsolution$ solution.php?problem_id=$1 [L]
RewriteRule ^([0-9]+)/([0-9]+)$ solution.php?id=$2 [L]
RewriteRule ^users/$ user.php [L]

# redirect to provisional implementations
RewriteRule ^users/([0-9]+)$ %{ENV:PBROOT}/users/ [R,L]
RewriteRule ^proposers/(.+)$ %{ENV:PBROOT}/index.php?filter=&proposer=$1&number=&start=&end=&tags= [R,L]
RewriteRule ^issues/([0-9][0-9])/([01][0-9])$ %{ENV:PBROOT}/index.php?filter=&proposer=&number=$2/$1&start=&end=&tags= [R,L]
RewriteRule ^tags/([0-9]+)$ %{ENV:PBROOT}/index.php?filter=&proposer=&number=&start=&end=&tags=$1 [R,L]

# redirect to canonical URLs
RewriteRule ^users$ %{ENV:PBROOT}/users/ [R=301,L]
RewriteRule ^([0-9]+)$ %{ENV:PBROOT}/$1/ [R=301,L]
