# Access control
<FilesMatch "\.(ht|git).*">
	Order deny,allow
	Deny from all
</FilesMatch>

# provide natural, clean URLs
RewriteEngine On

# main page
RewriteRule ^$ index.php [L]
RewriteRule ^problem$ pages/edit/problem.php [L]
RewriteRule ^logon$ lib/logon.php [L,QSA]
RewriteRule ^tasks$ lib/ajax.php?query=tasklist [L,QSA]

# content pages and submitting
RewriteRule ^([0-9]+)/$ pages/view/task.php?id=$1 [L]
RewriteRule ^([0-9]+)$ %{ENV:PBROOT}/$1/ [R=301,L]
RewriteRule ^([0-9]+)/edit$ pages/edit/problem.php?id=$1 [L]
RewriteRule ^([0-9]+)/evaluate$ pages/edit/eval.php?id=$1 [L]
RewriteRule ^([0-9]+)/addsolution$ pages/edit/solution.php?problem_id=$1 [L]
RewriteRule ^([0-9]+)/settag$ lib/edit/misc.php?write=problemtag&id=$1 [L]
RewriteRule ^([0-9]+)/([0-9]+)$ pages/edit/solution.php?id=$2&problem_id=$1 [L]
RewriteRule ^([0-9]+)/publish$ lib/edit/publish.php?id=$1 [L,QSA]
RewriteRule ^submit/$ lib/edit/problem.php [L,QSA]
RewriteRule ^submit/([0-9]+)$ lib/edit/problem.php?id=$1 [L,QSA]
RewriteRule ^submit/([0-9]+)/$ lib/edit/solution.php?problem_id=$1 [L,QSA]
RewriteRule ^submit/([0-9]+)/([0-9]+)$ lib/edit/solution.php?id=$2&problem_id=$1 [L,QSA]
RewriteRule ^submit/([0-9]+)/eval$ lib/edit/eval.php?id=$1 [L,QSA]

# user management
RewriteRule ^users/$ pages/view/user.php [L]
RewriteRule ^users$ %{ENV:PBROOT}/users/ [R=301,L]
RewriteRule ^users/new$ lib/edit/user.php [L,QSA]
RewriteRule ^users/([0-9]+)$ %{ENV:PBROOT}/users/ [R,L]
RewriteRule ^users/([0-9]+)/edit$ lib/edit/user.php?id=$1 [L,QSA]
RewriteRule ^users/([0-9]+)/changepw$ lib/edit/user.php?id=$1 [L,QSA]
RewriteRule ^users/([0-9]+)/delete$ lib/edit/user.php?id=$1&delete [L,QSA]

# tag management
RewriteRule ^tagpanel$ pages/edit/tagpanel.php [L]
RewriteRule ^tags/$ pages/edit/tagpanel.php?standalone [L]
RewriteCond %{HTTP_ACCEPT} =application/json
RewriteRule ^tags/([_0-9A-Za-z]+)$ lib/ajax.php?query=tag&name=$1 [L,QSA]
RewriteRule ^tags/([_0-9A-Za-z]+)$ pages/view/tag.php?name=$1 [L,QSA]
RewriteRule ^tags$ lib/edit/misc.php?write=tag [L,QSA]

# proposer queries
RewriteCond %{HTTP_ACCEPT} =application/json
RewriteRule ^proposers/([^/]+)$ lib/ajax.php?query=proposer&name=$1 [L,QSA]
RewriteRule ^proposers/([^/]+)$ pages/view/proposer.php?name=$1 [L,QSA]
RewriteRule ^proposers/([^/]+)/([^/]+)$ pages/view/proposer.php?name=$1&location=$2 [L,QSA]

# issue
RewriteRule ^issues/([0-9]{4})/(([1-9]|0[1-9]|1[0-2]))$ pages/view/issue.php?year=$1&month=$2 [L]
RewriteRule ^issues/([0-9]{4})/(([1-9]|0[1-9]|1[0-2]))/problems$ lib/ajax.php?query=issue_tasks&year=$1&month=$2 [L]
RewriteRule ^issues/([0-9]{4})/(([1-9]|0[1-9]|1[0-2]))/solutions$ llib/ajax.php?query=issue_solutions&year=$1&month=$2 [L]
