/**************************
	GENERAL FORMATTING
**************************/
body
{
	background-color	: #FFFFC0;
	font-family	: Georgia;
	margin	: 0;
	padding-top	: 50px;
}
body.iframe { padding-top: 0; }

/* PAGE LAYOUT */
div.center {margin: 0 auto;}
@media (min-width: 600px)
{
	div.center {width: 600px;}
	div.content {width: 600px;}
}
@media (min-width: 900px)
{
	div.center {width: 900px;}
}

div.content
{
	position:	relative;
}

/* side panel right to div.content */
div#panel { max-width: 340px; }
@media (min-width: 900px)
{
	div#panel
	{
		position: fixed;
		left	: 50%;
		margin-left	: 170px;
		width	: 280px;
	}
}
@media (max-width: 899px)
{
	div#panel iframe { display: none; }
}

/* page header */
div.head
{
	position	: fixed;
	z-index	: 1;	top	: 0;
	width	: 100%;	width	: calc(100% - 14px);
	background: #F0B070;
	background: linear-gradient(to bottom, #F0B060, #FFC070 50%, #F8C880 80%, #D0B070);
	padding	: 7px;
	padding-top	: 5px;
}
div.head a#logo
{
	color	: #F06020;
	text-shadow	: 0.5px 0.5px 1px #808060, -1px -1px 1px #FFFFF0;
	text-decoration	: none;
	font-size : x-large;
	vertical-align	: middle;
	transition	: color 0.5s;
}
div.head a#logo:hover {color: #FF4000;}
div.head form#login
{
	padding	: 0px;
	margin	: -5px 0px;
}
@media (max-width: 899px) {
	div.head form#login
	{	
		z-index	: 2;
		display	: none;
		position: absolute;
		right	: 12px;	top	: 40px;
		background	: #F0D0A0;
		border		: 1px solid #C08040;
		border-radius	: 5px 0px 5px 5px;
	}
}
@media (min-width: 900px)
{
	div.head form#login
	{
		float : right;
	}
}
span#username
{
	color  : #F06020;
	margin	: 5px;
}
span#wait
{
	font-family	: Sans-Serif;
	font-size	: small;
	color	: Red;
	margin	: 0px 10px;
}

/* navigation in panel/header */
nav ul
{
	list-style	: none outside;
	padding		: 0px;
	margin		: 5px;
	margin-bottom	: 1em;
	border-radius	: 5px;
	border		: 1px solid #C08040;
}
nav#headermenu
{
	display	: inline-block;
	float	: right;
	margin	: 0 5px;
}
nav#headermenu ul
{
	display	: inline-block;
	margin	: 0;
}
nav#headermenu ul li
{
	display : inline-block;
	padding : 5px;
}
nav#headermenu ul li span {display:none;}
nav ul li
{
	background	: #FFC040;
	box-shadow	: -5px 5px 8px rgba(255, 255, 255, 0.3) inset;
	padding	: 5px 15px 5px 10px;
	transition	: 0.5s background;
}
nav ul li:hover { background: #FF8040; }
nav ul li a
{
	text-decoration	: none;
	color	: Teal;
	font-variant	: small-caps;
}
@media (max-width: 899px)
{
	nav#sidemenu { display: none; }
}
@media (min-width: 900px)
{
	nav#headermenu { display: none; }
}

/* HEADER FORMATTING */
/* huge script headers turned to the left */
h2
{
	font-family : Mistral, Garamond, Serif;
	font-style	: italic;
	font-size	: 50px;
	font-weight	: normal;
	transform	: rotate(-90deg);
	-webkit-transform	: rotate(-90deg);
	position	: absolute;
	width	: 600px;	text-align	: right;
	left	: -350px;	top	: 300px;
	margin	: 0;	z-index	: -1;
}

/* small subheaders in overviews */
h3
{
	font-family	: Garamond, Serif;
	font-size	: x-large;
	font-weight	: normal;
	margin	: 0em 0.5em 0em 1em;
}

/* pseudo-headers for small boxes*/
h4 {
	font-size	: xx-large;
	vertical-align	: middle !important;
	margin	: 10px 5px 5px 10px;
}

/* LINK FORMATTING */
a.button
{
	border-radius	: 5px;
	background		: #00C000;
	background		: linear-gradient(to bottom, #00E000, #00A000);
	padding	: 3px 7px;	margin	: 0px 3px 5px 3px;
	color	: White;	text-shadow	: 0px 1px 0px Black;
	text-decoration	: none;
	box-shadow	: inset 0px 0px 1px #006000;
	text-decoration	: none;
	font-size	: medium;
	display		: inline-block;
	white-space	: nowrap;
}
a.button:hover
{
	background	: #00E000;
	background	: linear-gradient(to bottom, #00F000, #00D000);
}
a.button:active
{
	box-shadow	: inset 2px 2px 1px #006000;
	padding		: 4px 6px 2px 8px;
}
a.danger
{
	background	: #A00000;
	box-shadow	: inset 0px 0px 1px #600000;
	background	: linear-gradient(to bottom, #C00000, #800000);
}
a.danger:hover
{
	background	: #E00000;
	background	: linear-gradient(to bottom, #FF0000, #C00000);
}
a.danger:active {box-shadow	: inset 2px 2px 1px #600000;}
a.inner
{
	position	: absolute;
	right	: 5px;	top	: 7px;
	z-index	: 1;	opacity	: 0;
	transition	: opacity 0.5s;
}
*:hover > a.inner {opacity:1;}
@media (max-width: 600px)
{
	a.inner
	{
		opacity: 1;
		position: static;
		float: right;
	}
	a.button span {display:none;}
}

/* TAG FORMATTING */
div.taglist, span#taglist
{
	margin	: 5px;
	line-height	: 1.5em;
}
span.tag
{
	padding			: 3px 5px;
	margin			: 2px;
	border-radius	: 3px;
	font-family		: Sans-Serif;
	font-weight		: bold;
	font-size		: small;
	white-space		: nowrap;
}
i.close
{
	color	: #0080FF;
	text-shadow: 0px 0px 1px Black;
	margin-bottom	: -1px;
	margin-left		: 3px;
}
div.task div.tags
{
	float	: right;
	font-style	: normal;
}

/* MISCELLANEOUS */
*.info
{
	font-family	: Sans-Serif;
	font-size	: small;
	color		: #606060;
}
img.star
{
	margin	: 3px -3px -6px -3px;
	padding	: 0;
	cursor	: pointer;
	transform	: rotate(60deg);
	-webkit-transform	: rotate(60deg);
}

/**************************
	CONTENT FORMATTING
**************************/

/* INDEX PAGE */
/* task list */
div#tasklist { margin-bottom: 3em; }
a.textbox
{
	text-decoration	: none;
	color	: Black;
}
a.textbox div.task:hover {background: #FFE0A0;}
table.info td
{
	padding		: 0px 10px;
	border-left	: 1px solid #808080;
	text-align	: center;
}

/* calendar to browse through issues */
div#calendar
{
	background	: #E060A0;
	border-radius	: 5px;
	padding		: 10px;
	margin	: 15px 5px;
	font-size	: small;
}
a.dirbutton
{
	font-size	: x-large;
	color	: #800040;
	vertical-align	: middle;
}
a.dirbutton:hover
{
	color	: #C00060;
}
div#calendar div#years
{
	display	: inline-block;
	vertical-align	: middle;
	max-width	: 175px;
}
div#calendar div#months
{
	display	: inline-block;
	vertical-align	: middle;
	margin	: 10px 10px 5px 10px;
	max-width	: 180px;
}
h4.icon-calendar
{
	color	: #800040;
}
div#calendar div#months a
{
	width	: 2em;
	display	: inline-block;
}
div#calendar div#months a.long {width: 4.5em;}

/* pager to browse through pages */
div#pager
{
	background	: #ffa060;
	text-align	: center;
	border	: 1px solid #c08040;
	border-bottom	: none;
	position: fixed;
	width	: 230px;
	bottom	: 0em;
	padding	: 9px 5px 0px;
	border-radius	: 10px 10px 0px 0px;
	box-shadow	: 0px 0px 5px #c0a080;
}
@media (max-width: 899px)
{
	div#pager
	{
		left	: 50%;
		margin-left	: -120px;
	}
}
@media (min-width: 900px)
{
	div#pager
	{
		right	: 50%;
		margin-right: -430px;
	}
}

/* TASK PAGE */
div.task
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFD080;
	margin : 15px 5px; padding : 5px;
	position	: relative;
}
div.info
{
	border-bottom	: 1px solid Teal;
	padding		: 5px;
	font-style	: italic;
}
div.text {margin : 10px;}
div.text:before
{
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}
div.task div.text:before {content: "Aufgabe: ";}
div.published
{
	padding		: 10px;
	border-top	: 1px dotted Purple;
	font-style	: italic;
	font-size	: small;
}

/* publishing form */
form#publish
{
	position	: absolute; bottom : -5px;
	left	: 10px;	right	: 150px;
	padding	: 3px 5px 0px;	margin	: 10px 0px;
	border	: 1px solid Purple;
	border-radius	: 5px;
	background	: #E0A040;
}
form#publish input {margin: 2px;}
@media (max-width: 599px) {
	form#publish { right: 50px; }
}
form#publish input.text {background : #FFC040;}
form#publish input.text:hover {background : #FFD060;}

/* comments */
h3#comments
{
	color	: #A0A000;
	text-shadow	: 1px 1px 0px #808000;
}
div.comment
{
	border	: 1px solid Gray;
	border-radius : 5px;
	margin : 15px 5px; padding : 5px 10px;
	background	: #C0C020;
	position	: relative;
}
div.own {background: #E0E020;}
div.editorial div.text:before	{content:"(intern) "; }
div.comment div.author
{
	display		: inline;
	margin		: 3px 10px 3px 0px;
	font-family	: Sans-Serif;
	font-size	: small;
	font-style	: italic;
	color	: #404040;
}
div.comment div.author a
{
	margin-left	: 3px;
	font-size	: medium;
	text-decoration	: none;
}
div.comment div.text
{
	display	: inline;
	margin	: 3px 0px;
}
div.comment div.eval
{
	clear	: right;
	text-align	: center;
}

/* SOLUTION LIST */
div.solution
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #D0E0FF;
	margin : 15px 5px; padding : 5px;
	position	: relative;
}
div.solution div.text:before {content: "L\00f6sung: ";}
div.nonpublic 
{
	border-style: dashed;
	opacity	: 0.7;
}

/* ISSUE PAGE */
h2.issue {color : #C00060; text-shadow : #800040 2px 2px 3px;}

h3#problems
{
	color	: #D08040;
	text-shadow	: 1px 1px 0px #B06050;
}
h3#solutions
{
	color	: #4080C0;
	text-shadow	: 1px 1px 0px #5060B0;
}

/* e in TeX */
div.tex
{
	display	: inline;
	position: relative;
	top		: 0.166667em;
	letter-spacing	: -0.1em;
}

/* USER MANAGEMENT */
table.users
{
	width	: 100%;
	background	: #60C0F0;
	box-shadow	: 5px 5px 0px #4080A0;
	border-collapse	: collapse;
	border-radius	: 5px;
}
table.users tbody tr:hover,
table.users tfoot tr:hover {
	background	: #80D0FF;
}
table.users td, table.users th
{
	padding	: 5px 10px;
}
table.users tr#forms td
{
	background	: #40A0E0;
}
form#edit, form#pw, form#newuser
{
	padding		: 0px;
	margin		: 0px;
	margin-top	: 5px;
}

/**************************
		CONTENT FORMS
**************************/
form
{
	padding			: 15px;
	margin			: 20px 5px;
}
input, textarea, select {margin : 5px;}
input.text {font-family	: Georgia;}
input.text, textarea {border : 1px dashed #808080;}
textarea
{
	width: 100%;
	width: calc(100% - 10px);
	resize: vertical;
}

form input[name="delete"]
{
	display	: none;
}

/* FILTER FORM */
form.filter
{
	background-image	: url("img/filter.png");
	background-repeat	: repeat;
	border-radius	: 10px;
	box-shadow	: 3px 3px 5px Gray;
}
form.filter div#questions
{
	border-top		: 1px solid Gray;
	border-bottom	: 1px solid Gray;
}
label.question
{
	font-family	: Sans-Serif;
	font-size	: small;
	color		: #A0A0A0;
}
form#filter label:first-child
{
	display		: inline-block;
	width	: 4em;
}

/* TASK FORM */
h2.task {color : #C00000; text-shadow : #C060A0 2px 2px 3px;}
form.task
{
	background-color: #FFA060;
	box-shadow	: 3px 3px 5px #C08060;
}
form.task input.text, form.task textarea {background : #FFD080;}
form.task input.text:hover, form.task textarea:hover {background : #FFE0A0;}

form#tageditor
{
	background-color	: #40E0C0;
	border-radius	: 10px;
	box-shadow	: 3px 3px 5px #208080;
}

/* SOLUTION FORM */
h2.solution {color : #0000C0; text-shadow : #60A0C0 2px 2px 3px;}
form.solution
{
	background-color: #A0C0FF;
	box-shadow	: 3px 3px 5px #80A0C0;
}
form.solution input.text, form.solution textarea {background : #B0E0FF;}
form.solution input.text:hover, form.solution textarea:hover {background : #D0F0FF;}

/* EVALUATION FORM */
h2.eval {color : #D0C000; text-shadow : #60A080 2px 2px 3px;}
form.eval
{
	background-color: #D0D030;
	box-shadow	: 3px 3px 5px #A0A020;
}
form.eval input.text, form.eval textarea {background : #F0F050;}
form.eval input.text:hover, form.eval textarea:hover {background : #F0F080;}
span.evalspan
{
	white-space	: nowrap;
}
span.eval, label.eval
{
	font-family	: Garamond;
	font-style	: italic;
	padding		: 0.5em;
}

/* PICTURE FORMS */
div.picform
{
	margin	: 15px 5px;
	padding	: 5px;
	background	: #80C0C0;
	box-shadow	: 3px 3px 5px #60A0A0;
}
h4.icon-picture
{
	color		: #206060;
}
div.picform input.text, div.picform textarea {background : #B0E0E0;}
div.picform input.text:hover, div.picform textarea:hover {background : #C0F0F0;}
input.id {width: 50px;}

/* proposer form */
input.location {width : 100px;}

/* PREVIEWS IN FORMS */
form div.problem
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFD080;
	margin : 5px; padding : 5px;
}
form div.problem:before 
{
	content	: "Aufgabe: ";
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}

div.preview
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFF0C0;
	margin : 5px; padding : 5px;
}
div.preview:before
{
	content	: "(Vorschau) ";
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}
