/* Allgemeine Formatierung */
body
{
	background-color	: #FFFFC0;
	font-family	: Georgia;
	margin	: 0;
}

div.head 
{
	color	: Teal;
	background-color: Black;
	border-bottom	: 1px solid Red;	
	margin	: 0;	padding	: 5px;
}
div.head div.logo {font-size : x-large; padding : 0px 1em 0px 3em; float : left;}
div.head div.login {color : Green; float : right;}

div.content {width:600px; margin:50px 100px}

/* Formatierung der Überschriften */
h1
{
	font-family	: "Monotype Corsiva";
	text-align	: center;
	text-shadow : #ffffff 0px 0px 10px;
}

h2
{
	font-family : Script;
	font-size	: 3em;
	font-weight	: lighter;
	margin		: 30px -30px;
}

h2.task {color : #C00000; text-shadow : #C060A0 2px 2px 3px;}
h2.solution {color : #0000C0; text-shadow : #60A0C0 2px 2px 3px;}
h2.eval {color : #D0C000; text-shadow : #60A080 2px 2px 3px;}

h3
{
	text-align	: center;
	color		: #D0A020;
}

/* Formatierung von Links *//*
a:link, a:visited { color : #00F040; }
a:hover		{ color : #80F0C0; }
a:active	{ color : #C0F080; }*/

/* Formatierung des Menüs */
div.menu
{
	background-color: #202000;
	border			: 1px solid #303000;
	margin-top		: 1em;
	margin-left		: 1em;
	margin-right	: 4em;
}

form
{
	border-radius	: 20px;
	padding			: 15px
}

form.task {background-color: #A00030;}
form.solution {background-color: #0030A0;}
form.eval {background-color: #D0D030;}

input, textarea {margin : 5px;}
img#preview, img#task {margin : 5px;}