/* Allgemeine Formatierung */
body
{
	background-color	: #FFFFC0;
	font-family	: Georgia;
	margin	: 0;
	padding-top	: 50px;
}
body.iframe { padding-top: 0; }

div.head
{
	position	: fixed;
	z-index	: 1;	top	: 0;
	width	: 100%;	width	: calc(100% - 14px);
	background: #F0B070;
	background: linear-gradient(to bottom, #F0B060, #FFC070 50%, #F8C880 80%, #D0B070);
	padding	: 7px;
	padding-top	: 5px;
}
div.head a#logo
{
	color	: #F06020;
	text-shadow	: 0.5px 0.5px 1px #808060, -1px -1px 1px #FFFFF0;
	text-decoration	: none;
	font-size : x-large;
	vertical-align	: middle;
	transition	: color 0.5s;
}
div.head a#logo:hover {color: #FF4000;}
div.head form#login
{
	padding	: 0px;
	margin	: -5px 0px;
}
@media (max-width: 899px) {
	div.head form#login
	{	
		z-index	: 2;
		display	: none;
		position: absolute;
		right	: 12px;	top	: 40px;
		background	: #F0D0A0;
		border		: 1px solid #C08040;
		border-radius	: 5px 0px 5px 5px;
	}
}
@media (min-width: 900px)
{
	div.head form#login
	{
		float : right;
	}
}
span#username
{
	color  : #F06020;
	margin	: 5px;
}

/* Navigation im Seitenmenü bzw. Header */
nav ul
{
	list-style	: none outside;
	padding		: 0px;
	margin		: 5px;
	margin-bottom	: 1em;
	border-radius	: 5px;
	border		: 1px solid #C08040;
}
nav#headermenu
{
	display	: inline-block;
	float	: right;
	margin	: 0 5px;
}
nav#headermenu ul
{
	display	: inline-block;
	margin	: 0;
}
nav#headermenu ul li
{
	display : inline-block;
	padding : 5px;
}
nav#headermenu ul li span {display:none;}
nav ul li
{
	background	: #FFC040;
	box-shadow	: -5px 5px 8px rgba(255, 255, 255, 0.3) inset;
	padding	: 5px 15px 5px 10px;
	transition	: 0.5s background;
}
nav ul li:hover { background: #FF8040; }
nav ul li a
{
	text-decoration	: none;
	color	: Teal;
	font-variant	: small-caps;
}
@media (max-width: 899px)
{
	nav#sidemenu { display: none; }
}
@media (min-width: 900px)
{
	nav#headermenu { display: none; }
}

div.center {margin: 0 auto;}
@media (min-width: 600px)
{
	div.center {width: 600px;}
	div.content {width: 600px;}
}
@media (min-width: 900px)
{
	div.center {width: 900px;}
}

div.content
{
	position:	relative;
}

/* Seitenpanel neben div.content */
div#panel { max-width: 340px; }
@media (min-width: 900px)
{
	div#panel
	{
		position: fixed;
		left	: 50%;
		margin-left	: 180px;
		width	: 270px;
	}
}
@media (max-width: 899px)
{
	div#panel iframe { display: none; }
}

/* Pager zum Seitenwechseln */
div#pager
{
	background	: #ffa060;
	text-align	: center;
	border	: 1px solid #c08040;
	border-bottom	: none;
	position: fixed;
	width	: 200px;
	bottom	: 0em;
	padding	: 9px 5px 0px;
	border-radius	: 10px 10px 0px 0px;
	box-shadow	: 0px 0px 5px #c0a080;
}
@media (max-width: 899px)
{
	div#pager
	{
		left	: 50%;
		margin-left	: -105px;
	}
}
@media (min-width: 900px)
{
	div#pager
	{
		right	: 50%;
		margin-right: -415px;
	}
}
div#pager span#request
{
	position	: absolute;
	visibility	: hidden;
}

*.info
{
	font-family	: Sans-Serif;
	font-size	: small;
	color		: #606060;
}

/* Formatierung der Überschriften */
h2
{
	font-family : Mistral, Garamond, Serif;
	font-style	: italic;
	font-size	: 50px;
	font-weight	: normal;
	transform	: rotate(-90deg);
	-webkit-transform	: rotate(-90deg);
	position	: absolute;
	width	: 600px;	text-align	: right;
	left	: -350px;	top	: 300px;
	margin	: 0;	z-index	: -1;
}

h2.task {color : #C00000; text-shadow : #C060A0 2px 2px 3px;}
h2.solution {color : #0000C0; text-shadow : #60A0C0 2px 2px 3px;}
h2.eval {color : #D0C000; text-shadow : #60A080 2px 2px 3px;}

/* Formatierung von Links */
a.button
{
	border-radius	: 5px;
	background		: #00C000;
	background		: linear-gradient(to bottom, #00E000, #00A000);
	padding	: 3px 7px;	margin	: 0px 3px 5px 3px;
	color	: White;	text-shadow	: 0px 1px 0px Black;
	text-decoration	: none;
	box-shadow	: inset 0px 0px 1px #006000;
	text-decoration	: none;
	font-size	: medium;
	display		: inline-block;
	white-space	: nowrap;
}
a.button:hover
{
	background	: #00E000;
	background	: linear-gradient(to bottom, #00F000, #00D000);
}
a.button:active
{
	box-shadow	: inset 2px 2px 1px #006000;
	padding		: 4px 6px 2px 8px;
}
a.danger
{
	background	: #A00000;
	box-shadow	: inset 0px 0px 1px #600000;
	background	: linear-gradient(to bottom, #C00000, #800000);
}
a.danger:hover
{
	background	: #E00000;
	background	: linear-gradient(to bottom, #FF0000, #C00000);
}
a.danger:active {box-shadow	: inset 2px 2px 1px #600000;}
a.inner
{
	position	: absolute;
	right	: 5px;	top	: 7px;
	z-index	: 1;	opacity	: 0;
	transition	: opacity 0.5s;
}
*:hover > a.inner {opacity:1;}
@media (max-width: 600px)
{
	a.inner
	{
		opacity: 1;
		position: static;
		float: right;
	}
	a.button span {display:none;}
}

/* Aufgabenliste */
div#tasklist { margin-bottom: 3em; }
a.textbox
{
	text-decoration	: none;
	color	: Black;
}
a.textbox div.task:hover {background: #FFE0A0;}
table.info td
{
	padding		: 0px 10px;
	border-left	: 1px solid #808080;
	text-align	: center;
}

/* Tag-Formatierung */
div.taglist
{
	margin	: 5px;
	line-height	: 1.5em;
}
span.tag
{
	padding			: 3px 5px;
	margin			: 2px;
	border-radius	: 3px;
	font-family		: Sans-Serif;
	font-weight		: bold;
	font-size		: small;
	white-space		: nowrap;
}
img.close
{
	margin-bottom	: -1px;
	margin-left		: 3px;
	border	: none;
}

/* Aufgabenseite */
div.task
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFD080;
	margin : 15px 5px; padding : 5px;
	position	: relative;
}
div.info
{
	border-bottom	: 1px solid Teal;
	padding		: 5px;
	font-style	: italic;
}
div.task div.tags
{
	float	: right;
	font-style	: normal;
}
div.text {margin : 5px; padding : 5px;}
div.text:before
{
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}
div.task div.text:before {content: "Aufgabe: ";}
div.solution div.text:before {content: "L\00f6sung: ";}
div.solution
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #D0E0FF;
	margin : 15px 5px; padding : 5px;
	position	: relative;
}

div.published
{
	padding		: 10px;
	border-top	: 1px dotted Purple;
	font-style	: italic;
}
form#publish
{
	position	: absolute; bottom : -5px;
	left	: 10px;	right	: 150px;
	padding	: 0px 5px;	margin	: 10px 0px;
	border	: 1px solid Purple;
	border-radius	: 5px;
	background	: #E0A040;
}
@media (max-width: 599px) {
	form#publish { right: 50px; }
}

table.comments
{
	width	: 100%;
	border-collapse	: collapse;
}
table.comments tr
{
	border-top	: 1px dotted Gray;
	background	: #FFFF60;
}
table.comments tr.own {background: #D0D030;}
table.comments tr.eval
{
	text-align	: center;
	border-top	: none;
	border-bottom	: 1px dotted Gray;
}
table.comments td {padding: 3px; vertical-align: baseline;}
table.comments td.author {width: 20%;}

/* Formulare */
form
{
	padding			: 15px;
	margin			: 5px;
}
form.filter
{
	background-image	: url("img/filter.png");
	background-repeat	: repeat;
	border-radius	: 10px;
	box-shadow	: 3px 3px 5px Gray;
}
form.filter table tr td
{
	padding		: 0px 3px;
}
form#tageditor
{
	background-color	: #40E0C0;
	border-radius	: 10px;
	box-shadow	: 3px 3px 5px #208080;
}
form.task
{
	background-color: #FFA060;
	box-shadow	: 3px 3px 5px #C08060;
}
form.solution
{
	background-color: #A0C0FF;
	box-shadow	: 3px 3px 5px #80A0C0;
}
form.eval
{
	background-color: #D0D030;
	box-shadow	: 3px 3px 5px #A0A020;
}

label.question
{
	font-family	: Sans-Serif;
	font-size	: small;
	color		: #A0A0A0;
}
span.evalspan
{
	white-space	: nowrap;
}
span.eval, label.eval
{
	font-family	: Garamond;
	font-style	: italic;
	padding		: 0.5em;
}

form input[name="delete"]
{
	display	: none;
}

input, textarea, select {margin : 5px;}
input.text {font-family	: Georgia;}
input.text, textarea {border : 1px dashed #808080;}
textarea {width: 100%; width: calc(100% - 10px);}
form.task input.text, form.task textarea {background : #FFD080;}
form.task input.text:hover, form.task textarea:hover {background : #FFE0A0;}
form.solution input.text, form.solution textarea {background : #B0E0FF;}
form.solution input.text:hover, form.solution textarea:hover {background : #D0F0FF;}
form.eval input.text, form.eval textarea {background : #F0F050;}
form.eval input.text:hover, form.eval textarea:hover {background : #F0F080;}

/* TEX-Anzeigen */
form div.problem
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFD080;
	margin : 5px; padding : 5px;
}
form div.problem:before 
{
	content	: "Aufgabe: ";
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}

div.preview
{
	border	: 1px solid Gray;
	border-radius : 5px;
	background	: #FFF0C0;
	margin : 5px; padding : 5px;
}
div.preview:before
{
	content	: "(Vorschau) ";
	font-family	: Sans-Serif;
	font-variant: small-caps;
	font-size	: small;
	color		: Gray;
}

img.star
{
	margin	: 3px -3px -6px -3px;
	padding	: 0;
	transform	: rotate(60deg);
	-webkit-transform	: rotate(60deg);
}

/* Benutzer-Verwaltung */
table.users
{
	width	: 100%;
	background	: #FFA0A0;
	box-shadow	: 5px 5px 0px #C06060;
	border-collapse	: collapse;
	border-radius	: 5px;
}
table.users tbody tr:hover,
table.users tfoot tr:hover {
	background	: #FFC0C0;
}
table.users td, table.users th
{
	padding	: 5px 10px;
}
table.users tr#forms td
{
	background	: #F04080;
}
form#edit, form#pw, form#newuser
{
	padding		: 0px;
	margin		: 0px;
	margin-top	: 5px;
}
